/* font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Playfair Display', serif; */


body {
    font-family: 'Inter', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 45px;
    padding-bottom: 105px;
}
.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-btns {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-item { 
    margin-left: 34px;
}
.nav-item--register {   
    margin-left: 18px;
}
.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #B8BECD;
    transition: 0.3s ease color;
}
.nav-link:hover {
    color: #202336;
    transition: 0.3s ease color;
}
.nav-link--login {  
    color: #FB8F1D;
    font-weight: 500;
    border: 1px solid #FB8F1D;
    padding: 15px 46px;
    border-radius: 8px;
    transition: 0.3s ease all;
}
.nav-link--login:hover {
    color: #015646;
    transition: 0.3s ease all;
    border: 1px solid #015646;
}
.nav-link--register {  
    color: #FFF;
    background-color: #FB8F1D;
    font-weight: 500;
    /* border: 1px solid #FB8F1D; */
    padding: 15px 36px;
    border-radius: 8px;
}

.wrapper {  
    max-width: 1120px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.page-01, .page-02 { 
    padding-bottom: 330px; 
}
.title-h1 { 
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 64px;
    color: #202336;
}
.title-h3 { 
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #202336;
}
.title-h3::after {  
    content: '';
    display: block;
    height: 2px;
    background-color: #202336;
    width: 32px;
    margin-top: 21px;
}
.form { 
    display: flex;
    max-width: 471px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-select {  
    flex: 0 0 48%;
    border: 1px solid #AFB0B9;
    border-radius: 6px;
    padding: 21px 31px;
    box-sizing: border-box;
    margin-bottom: 35px;
    color: #4A4C53;
    font-family: 'Inter', sans-serif;
    font-size: 15;
    font-weight: 400;
    appearance: none; /* убираем системную стрелку */
    background-image: url(../img/arrow.svg);
    background-size: 9.6px 6px;
    background-repeat: no-repeat;
    background-position: 184.25px 26px;
}
.form-btn { 
    background-color: #FB8F1D;
    color:#FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 700;
    border: none; 
    padding: 18px 60px;
    border-radius: 8px;
    margin-top: 15px;
    transition: 0.3s ease all;
}
.orange-btn {
transition: 0.3s ease all;
cursor: pointer;
}

.orange-btn:hover {
   background-color: #015646;
   transition: 0.3s ease all;
   color:#FFF;
}

.img-main{  
    position: absolute;
    right: -85px;
    top: -33px;
}
.page-02 .wrapper {
    display: flex;
    justify-content: flex-end;
}
.box {
    max-width: 480px;
}
.box-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
}
.box-description {
    font-family: 'Mulish', sans-serif;
    color: #7D7987;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5; /* устанавливает величину пространства между строками */
    margin-bottom: 39px;
}
.box-link { 
    background-color: #FB8F1D;
    color:#FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 38px;
    border-radius: 8px;
    text-decoration: none;
}

.page-02-img {
    position:absolute;
    left: -94px;
    top: -110px;
}

.page-03-head {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

.page-03-title, .page-04-title {
    margin-top:0;
    margin-bottom:0;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
}
.page-03-link {
    color: #FB8F1D;
    text-decoration: none;
    background-image: url(/img/arrow-link.svg);
    background-repeat: no-repeat;
    padding-right:15px;
    background-position: 99% 4px;
    transition: 0.3s ease all;
}
.page-03-link:hover {
    color: #015646;
    transition: 0.3s ease all;
    background-image: url(/img/arrow-link-hover.svg);
}

.portfolio {
    display: flex;
    justify-content: space-between;
}

.portfolio-item {
    flex: 0 0 24%;
    height: 332px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    margin-top:56px;
    transition: 0.3s ease all;
    
}
.portfolio-item:hover {
    transition: 0.3s ease all;
    filter: contrast(106%);
    filter: brightness(1.15);
    border-radius: 0px;


}
.portfolio-item:hover .portfolio-text h3 {
    color: #015646;
    transition: 0.3s ease all;
}
.portfolio-item:hover .portfolio-text {
    filter: contrast(100%);
    filter: brightness(1.0);
    border-radius: 0;
    transition: 0.3s ease all;
}

.portfolio-item-01 {
    background-image: url(../img/01.png) ;
}
.portfolio-item-02 {
    background-image: url(../img/02.png) ;
}
.portfolio-item-03 {
    background-image: url(../img/03.png) ;
}
.portfolio-item-04 {
    background-image: url(../img/04.png) ;
}

.portfolio-text {   
    background-color: #FFF;
    display: inline-block; /*делаем элемент блочным и обтекаемым*/
    padding-right: 15px;
    position: absolute;
    bottom: 0;
    border-radius: 0 6px 0 0;
    filter: contrast(100%);
    filter: brightness(1.0);
}

.portfolio-text h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #042521;
    transition: 0.3s ease all;

}

.portfolio-text span {
    display: block; /*перенос на новую строку */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #80918E;
    margin-top: 8px;
}

.page-03 {
    padding-bottom: 450px; 
}

.page-04-text {
    font-family: 'Mulish', sans-serif;
    color: #7D7987;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px; /* устанавливает величину пространства между строками */
    margin-bottom: 39px;
    padding-top: 20px;
}

.page-04-btn {  
    background-color: #FB8F1D;
    color:#FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none; 
    padding: 18px 43px;
    border-radius: 8px;
}

.page-04-img {
    position:absolute;
    right: 0px;
    top: -152px;
}

.page-04 {  
    padding-bottom: 311px; 
}

.footer {   
    background-color: #F9F9FB;
}

.columns {  
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.footer-log {
    display: block;
    padding-top: 8px;
    padding-bottom: 28px;
}
.footer-description {   
    color:#848484;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 300; 
    padding-bottom: 55px;
    line-height: 28px;
}

.all-rights-reserved {  
    color:#848484;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 300; 
    padding-bottom: 81px;
    line-height: 28px;
}
.column-title { 
    font-family: 'Mulish', sans-serif;
    color: #000000;
    font-size: 19px;
    font-weight: 700;
    line-height: 50px;

}
.column-text_ul {  
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;  
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
    
}
.column-text_link {
    text-decoration: none;
    color: #7D7987;
    transition: 0.3s ease all;
}
.column-text_link:hover {
    color: #FB8F1D;
    transition: 0.3s ease all;
}
#rectangle {
    width: 1219px;
    height: 0.6px;
    background: #C4C4C4;
}

.social {   
    display: flex;
    margin: 0 auto;
    width: 248px;
    height: 23px;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 31px;
}
/* .social:hover {} */







.menu {
    background-color: #FFFFFF;
    border: 1px solid transparent;
    padding: 13px 11px;
    border-radius: 100%;
    transition: .2s ease border;
    cursor: pointer;
 }
 .menu-item {
    display: block;
    width: 29px;
    height: 2px;
    background-color: #10375C;
    margin-bottom: 8px;
 }
 .menu-item:last-child {
    margin-bottom: 0;
 }
 .menu:hover {
    border: 1px solid #10375C;
 }
 .modal {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(0);
     transition: 200ms ease-in-out;
     border-radius: 10px;
     z-index: 10;
     background-color: white;
     max-width: 80%;
     padding: 30px 20px;
 }
 .modal.active {
     transform: translate(-50%, -50%) scale(1);
 }
 .modal .close-button {
    transition: .3s ease all;
    color: #222831;
     cursor: pointer;
     border: none;
     outline: none;
     background: none;
     font-size: 39px;
     font-weight: 400;
     position: absolute;
     padding: 0;
     right: 11px;
     top: 0;
 }
 .modal .close-button:hover {
     color: #FF5722;
     transition: .3s ease all;

 }
 .modal-body {
     padding: 10px 15px;
 }
 #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
 }
 #overlay.active {
    opacity: 1;
    pointer-events: all;
 }

 .menu {
    display: none;
}

@media (min-width: 871px) {

}





@media (max-width: 1115px) {
    .img-main {
        width: 45%;
        right: 91px;
        top: -111px;
        opacity: 100%;            
    }
}
@media (max-width: 990px) {
    .img-main {
        width: 60%;
        right: 49px;
        top: 172px;
        opacity: 100%;          
    }
    .form { 
        max-width: 400px;
    }
    .form-select {  
        flex: 0 0 60%;
    }
}
@media (max-width: 810px) {
    .img-main {
        width: 56%;
        right: 43px;
        top: 211px;
        opacity: 100%;       
    }
    .form { 
        max-width: 400px;
    }
    .nav {
        flex-wrap: wrap;
    }
    .nav-links {
        justify-content: space-between;
    }
    .nav-btns {
        padding-top: 60px;
        justify-content: space-between;
        margin: 0;
    }
    .nav-item { 
        padding-left: 50px;
    }
    .nav-item--register {   
        margin-left: 18px;
    }

}
@media (max-width: 750px) {
    .img-main {
        width: 53%;
        right: 37px;
        top: 249px;
        opacity: 100%;       
    }
    .form { 
        max-width: 300px;
    }
    .form-select {  
        background-position: 130px 26px;
    }
    .nav-item { 
        padding-left: 30px;
    }
    .nav-item--register {   
        margin-left: 18px;
    }

}

@media (max-width: 685px) {
    .img-main {
        width: 53%;
        right: 37px;
        top: 249px;
        opacity: 100%;       
    }
}

@media (max-width: 550px) {
    .img-main {
        width: 53%;
        right: 37px;
        top: 249px;
        opacity: 00%;       
    }
    .form { 
        max-width: 400px;
    }
    .form-select {  
        background-position: 185px 26px;
    }
}


@media (max-width: 400px) {
    .form-select {  
        background-position: 150px 26px;
    }
}

@media (max-width: 350px) {
    .form-select {  
        background-position: 115px 26px;
    }
}

@media (max-width: 280px) {
    .form-select {  
        background-position: 100px 26px;
    }
}

